<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Analyzer.MyTransformer" />
</listeners>
  <test thread-count="5" name="RetryFailedCases">
    <classes>
      <class name="com.retry.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
